<!DOCTYPE html>
<html>
    <head>
        <title> Telegram API integration </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <center>
            <h1> Traction guest Telegram integration </h1>
            <p> Post a json to the <a href={{url_for('traction_guest_message')}}>tgmessage</a> endpoint </p>
            <p> Post with curl: </p>
            <pre><code> curl -X POST -k -H 'Content-Type: application/json' \
    -H 'token: TOKENHERE' \
    -i 'https://tractionguest-telegram-notify.herokuapp.com/tgmessage' \
    --data '"{'\''name'\'': '\''Rafael'\'', '\''company'\'': '\''Traction Guest'\''}"'</code></pre>
        </center>
    </body>
</html>